certifi==2022.12.7
chardet==5.1.0
CMRESHandler==1.0.0
elasticsearch==7.17.9
idna==3.4
pip==23.1.2
pygame==2.4.0
pytz==2022.6
PyYAML==6.0
requests==2.31.0
selenium==3.141.0
setuptools==68.0.0
urllib3==1.26.13
wheel==0.38.4
pyalsaaudio==0.10.0
coverage
