bleach==4.1.0
certifi==2023.5.7
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.0.12
click==7.1.1
CMRESHandler==1.0.0
coverage==6.2
cryptography==40.0.2
docutils==0.18.1
elasticsearch==7.17.9
future==0.18.3
idna==3.4
importlib-resources==5.4.0
jeepney==0.7.1
keyring==9.3.1
keyrings.alt==3.2.0
packaging==21.3
pip==21.3.1
pkginfo==1.9.6
pycparser==2.21
pygame==2.1.0
Pygments==2.14.0
pyicloud==0.10.2
pyparsing==3.1.0
pytz==2023.3
PyYAML==6.0
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==1.0.0
SecretStorage==3.3.3
selenium==3.141.0
setuptools==39.2.0
six==1.16.0
tqdm==4.64.1
twine==2.0.0
tzlocal==2.0.0
urllib3==1.26.13
webencodings==0.5.1
wheel==0.37.1
zipp==3.6.0
